:root {
  --highlight: rgb(0, 136, 255);

  --hero-bg: white;
  --hero-content: rgb(0, 136, 255);
  --hero-subtitle: rgba(51, 51, 51, 0.9);

  --about-bg: rgb(0, 136, 255);
  --about-content: white;

  --navbar-bg: white;
  --navbar-content: black;

  --card-bg: white;
  --card-img-bg: white;
  --card-title: black;
  --card-icon: white;
  --card-discription: white;
  --card-overlay-bg: hwb(208 0% 0% / 0.95);
  --card-overlay-content: white;

  --font-display: Lobster, 'Abril Fatface', sans-serif;
  --font-sans: Roboto, Calibri, 'Trebuchet MS', sans-serif;
  --font-serif: 'Abril Fatface', Times, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: var(--font-sans);
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-45rem, -50%);
  transform: translate(-45rem, -50%);

  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* @media screen and (max-width: 768px) {
  html {
    font-size: 0.75rem;
  }
} */

@media screen and (max-width: 1200px) {
  canvas {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -58%);
    transform: translate(-50%, -58%);
  }
}
