:root {
  --highlight: #ff6700;
  --dark-bg: black;
  --light-bg: #ebebeb;

  --hero-bg: white;
  --hero-content: black;
  --hero-subtitle: rgba(51, 51, 51, 0.9);

  --about-bg: var(--highlight);
  --about-content: black;
  --about-accent: white;

  --navbar-bg: var(--light-bg);
  --navbar-content: black;

  --sidebar-bg: var(--highlight);
  --sidebar-content: black;
  --sidebar-accent: white;

  --project-bg: var(--light-bg);
  --project-content: black;
  --project-accent: var(--highlight);

  --footer-bg: var(--dark-bg);

  --card-bg: white;
  --card-content: black;
  --card-overlay-bg: var(--highlight);
  --card-overlay-content: white;

  --font-display: Lobster, 'Abril Fatface', sans-serif;
  /* --font-sans: Roboto, Calibri, 'Trebuchet MS', sans-serif; */
  --font-sans: 'Encode Sans Expanded', Calibri, 'Trebuchet MS', sans-serif;
  --font-serif: 'Abril Fatface', Times, serif;
  --font-txt: Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--light-bg);
  font-family: var(--font-sans);
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-45rem, -50%);
  transform: translate(-45rem, -50%);

  width: 100%;
  height: 100vh;
  z-index: -1;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.75em;
  line-height: 1;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 1em;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  font-weight: 300;
  font-family: var(--font-txt);
  margin: 1em 0;
  text-align: justify;
}

a {
  text-decoration: underline;
  color: inherit;
}

@media screen and (max-width: 1200px) {
  canvas {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 480px) {
  canvas {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  h1 {
    margin-bottom: 0.75em;
    font-size: 2rem;
  }

  h2 {
    margin-bottom: 1em;
    font-size: 1rem;
  }

  p {
    font-size: 0.75rem;
  }
}
